@page
@model BirdFarmShop.Pages.Manager.OrderManagement.SuccessModel
@{
}
<h3>Are you sure you want to Success this?</h3>
<div>
    <h4>TblOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.ReasonContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.ReasonContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.TypeOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.TypeOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.ShipAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.ShipAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrder.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrder.User.FullName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="TblOrder.OrderId" />
        <input type="submit" value="Success" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>