@page
@model BirdFarmShop.Pages.Test.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblComment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.CommentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.CommentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.Bird)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.Bird.BirdDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblComment?.CommentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
